$text-color1 : #ffffff;

$text-color2: #252222;

$menu-bg-color: #252222;

$port-bg-color: #65ba99;

$news-bg-color: #cdcdcd;

$news-title-color: #252222;

$news-tags-color: #59a386;

$news-tags-color2: #e2534b;

$news-chosen-tags: #e74c3c;

